<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gemelo.Applications.Biographieportal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <Gemelo.Applications.Biographieportal.Properties.Settings>
            <setting name="RestartInterval" serializeAs="String">
                <value>00:02:00</value>
            </setting>
            <setting name="WaitIfContentReadingError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategorySliderTimeout" serializeAs="String">
                <value>00:00:20</value>
            </setting>
            <setting name="VisitorMessagesPath" serializeAs="String">
                <value>y:\Messages</value>
            </setting>
            <setting name="ContentDataPath" serializeAs="String">
                <value>y:\ContentData</value>
            </setting>
            <setting name="CheckNewContentInterval" serializeAs="String">
                <value>00:02:00</value>
            </setting>
            <setting name="SendOwnStory_SuccessMessageDuration" serializeAs="String">
                <value>00:00:05</value>
            </setting>
            <setting name="RestartInterval_SendOwnStory" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="ImportReader_ShowUnimportantMessages" serializeAs="String">
                <value>False</value>
            </setting>
        </Gemelo.Applications.Biographieportal.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.11.3.0" newVersion="2.11.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7.0" newVersion="1.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>